
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="deleteproduct">
    <div class="deleteproduct-header">
        <form #frsearch="ngForm" (ngSubmit)="search(frsearch.value)">
            <input type="text" class="deleteproduct-header_search" autocomplete="off" ngModel name="search" (keyup)="change($event)">
            <button  class="material-symbols-outlined deleteproduct-header-search_icon">search</button>
        </form>
        <p class="deleteproduct-header_function"> PRODUCT </p>
        <div class="deleteproduct-header_siderbar">
            <p class="deleteproduct-header_siderbar_main" routerLink='/home'>Home </p>
            <p class="deleteproduct-header_siderbar_main" routerLink='/listuser'>List user </p>
            <p class="deleteproduct-header_siderbar_main" routerLink='/chart'> Chart </p>
            <p class="deleteproduct-header_siderbar_main main">Product </p>
        </div>
        <img src="../../assets/Images/admin.jpg" alt="" class="deleteproduct-header_admin_img">
        <p class="deleteproduct-header_admin_line"> </p>
        <p class="deleteproduct-header_admin_name"> Anh N Tuyet</p>
    </div>
    <div class="deleteproduct_siderbar"> 
        <p class="siderbar-funtion_main"> DELETE PRODUCT</p>
        <p class="siderbar-funtion_line"> </p>
        <ul class="siderbar-function_siderbar">
            <li class="siderbar-function_main" routerLink='/manageproduct'> Manage Product</li>
            <li class="siderbar-function_main" routerLink='/addproduct'> Add Product</li>
            <li class="siderbar-function_main" routerLink='/editproduct'> Edit Product</li>
        </ul>
    </div>
    <div class="deleteproduct_body">
        <div class="deleteproduct-body_content">
            <div class="deleteproduct-body_content_header"> 
                <p class="content-header_main id"> ID</p>
                <p class="content-header_main img "> IMG</p>
                <p class="content-header_main name"> NAME</p>
                <p class="content-header_main des"> DESCRIPTION</p>
                <p class="content-header_main price"> PRICE</p>
                <p class="content-header_main quantyti"> QUANTITY </p>
                <p class="content-header_main action"> ACTION </p>
            </div>
            <div *ngFor="let product of products; let i=index" class="deleteproduct-body_content_body">
                <p class="content-header_main id"> {{products[i].id}}</p>
                <p class="content-header_main img"> <img src="{{products[i].img}}" alt="" class="content-body_img"></p>
                <p class="content-header_main name"> {{products[i].name}}</p>
                <p class="content-header_main des"> {{products[i].des}}</p>
                <p class="content-header_main price"> {{products[i].price}}</p>
                <p class="content-header_main quantyti"> {{products[i].quantity}}</p>
                <p class="content-header_main action" (click)="delete(products[i].id,products[i].name)"><i class="fa-solid fa-trash"></i></p>
            </div>
        </div>
    </div>
</div>
