<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="deleteproduct-header">
    <div class="deleteproduct_header-them">
        <form #frsearch="ngForm" (ngSubmit)="search(frsearch.value)">
            <input type="text" class="deleteproduct_search" autocomplete="off" ngModel name="search" (keyup)="change($event)">
            <button  class="material-symbols-outlined search-icon">search</button>
        </form>
        <span class="material-symbols-outlined search-note">
        notifications
        </span>
        <span class="material-symbols-outlined search-email">
        mark_email_unread
        </span>
        <img src="../../assets/Images/admin.jpg" alt="" class="admin-img">
        <p class="admin-space"> </p>
        <p class="admin-name"> Anh N Tuyet</p>
    </div>
    <div class="deleteproduct_siderbar"> 
        <p class="siderbar-funtion_main"> XÓA SẢN PHẨM</p>
        <p class="siderbar-funtion_line"> </p>
        <ul class="siderbar-function_siderbar">
            <li class="siderbar-function_main" routerLink='/manageproduct'> Quản lý sản phẩm</li>
            <li class="siderbar-function_main" routerLink='/addproduct'> Thêm sản phẩm</li>
            <li class="siderbar-function_main" routerLink='/editproduct'> Sửa sản phẩm</li>
            <li class="siderbar-function_main" routerLink='/managestaff'> Quản lý nhân viên</li>
        </ul>
    </div>
    <div class="deleteproduct_body">
        <div class="deleteproduct-body_content">
            <div class="deleteproduct-body_content_header"> 
                <p class="content-header_main id"> ID</p>
                <p class="content-header_main img "> IMG</p>
                <p class="content-header_main name"> NAME</p>
                <p class="content-header_main mota"> DESCRIPTION</p>
                <p class="content-header_main gia"> PRICE</p>
                <p class="content-header_main soluong"> QUANTITY </p>
                <p class="content-header_main hanhdong"> ACTION </p>
            </div>
            <div *ngFor="let sp of sanpham; let i=index" class="deleteproduct-body_content_body">
                <p class="content-header_main id"> {{sanpham[i].id}}</p>
                <p class="content-header_main img"> <img src="{{sanpham[i].hinh}}" alt="" class="content-body_img"></p>
                <p class="content-header_main name"> {{sanpham[i].tensp}}</p>
                <p class="content-header_main mota"> {{sanpham[i].mota}}</p>
                <p class="content-header_main gia"> {{sanpham[i].giasp}}</p>
                <p class="content-header_main soluong"> {{sanpham[i].soluong}}</p>
                <p class="content-header_main hanhdong" (click)="xoasanpham(sanpham[i].id,sanpham[i].tensp)"><i class="fa-solid fa-trash"></i></p>
            </div>
        </div>
    </div>
</div>