.black-border {
  border: 1px solid black;
}

img {
  width: 100%;
  border-radius: 1rem;
}
.profile{
  border-radius: 20px;
  object-fit:fill;
  max-height: 250px;
}
table {
  width: 90%;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 3px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0px 2rem;
}
.gender{
  color: rgb(88, 154, 92);
}
.education{
  color: rgb(88, 154, 92);
}
.company{
  color: rgb(88, 154, 92);
}
.experience{
  color: rgb(88, 154, 92);
}
.salary{
  color: rgb(88, 154, 92);
}
