<div class="topnav shadow p-1">
  <a style="color:#fff">Admin Dashboard</a>
  <span class="menu" (click)="openNav(true)"><i class="bi bi-list"></i></span>
</div>


<div  class="sidebar shadow p-2"  id="sidebar"  [ngStyle]="responsiveMenu">
  <ul>
      <li><a routerLink="/signup"><i class="bi bi-speedometer2"></i> </a> <span class="tooltip">Dashboard</span> </li>
      <li><a routerLink="/login"><i class="bi bi-card-text"></i> </a> <span class="tooltip">Products</span></li>
      <li><a routerLink="/test"><i class="bi bi-person-gear"></i> </a> <span class="tooltip">Users</span></li>
      <li><a routerLink="/test"><i class="bi bi-box-arrow-left"></i></a> <span class="tooltip">Logout</span></li>

  </ul>
</div>


<div class="main-content" [ngStyle]="responsiveContent">
  <router-outlet></router-outlet>
</div>
