
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="addproduct">
    <div class="addproduct-header">
        <form #formsearch="ngForm" (ngSubmit)="search(formsearch.value)">
            <input type="text" class="addproduct-header_search" autocomplete="off" ngModel name="search" (keyup)="change($event)">
            <button  class="material-symbols-outlined addproduct-header_search_iconsearch">search</button>
        </form>
        <p class="addproduct-header_function"> PRODUCT </p>
        <div class="addproduct-header_siderbar">
            <p class="addproduct-header_siderbar_main" routerLink='/home'>Home </p>
            <p class="addproduct-header_siderbar_main" routerLink='/listuser'>List user </p>
            <p class="addproduct-header_siderbar_main" routerLink='/chart'> Chart </p>
            <p class="addproduct-header_siderbar_main main">Product </p>
        </div>
        <img src="../../assets/Images/admin.jpg" alt="" class="addproduct-header_img_admin">
        <p class="addproduct-header_img_admin_line"> </p>
        <p class="addproduct-header_name_admin"> Anh N Tuyet</p>
    </div>
    <div class="addproduct-siderbar"> 
        <p class="siderbar-funtion_main">ADD PRODUCT</p>
        <p class="siderbar-funtion_main-line"> </p>
        <ul class="siderbar-function_siderbar">
            <li class="siderbar-function_main" routerLink='/manageproduct'> Manage Product</li>
            <li class="siderbar-function_main" routerLink='/editproduct'> Edit Product </li>
            <li class="siderbar-function_main" routerLink='/deleteproduct'> Delete Product</li>
        </ul>
    </div>
    <div class="addproduct-body">
        <div class="addproduct-body_content ">
            <div class="addproduct-body_content_header"> 
                <p class="body_content_header_main id"> ID</p>
                <p class="body_content_header_main img"> IMG</p>
                <p class="body_content_header_main name"> NAME</p>
                <p class="body_content_header_main des"> DESCRIPTION</p>
                <p class="body_content_header_main price"> PRICE</p>
                <p class="body_content_header_main quantyti"> QUANTITY </p>
            </div>
            <div *ngFor="let product of products; let i=index" class="addproduct-body_main">
                <p class="body_content_header_main id"> {{products[i].id}}</p>
                <p class="body_content_header_main img"> <img src="{{products[i].img}}" alt="" class="addproduct-body_main_img"></p>
                <p class="body_content_header_main name"> {{products[i].name}}</p>
                <p class="body_content_header_main des"> {{products[i].des}}</p>
                <p class="body_content_header_main price"> {{products[i].price}}</p>
                <p class="body_content_header_main quantyti"> {{products[i].quantity}}</p>
            </div>
            <div class="addproduct-body_button">
                <button class="body-button_main" (click)="add()"> Add Product <i class="fa-solid fa-plus"></i> </button>
            </div>
            <div class="addproduct-body_background" (click)="remove()">
            </div>
            <div class="addproduct-body_addform">
                <form  #frmSP="ngForm" class="addproduct-form" (ngSubmit)="addproduct(frmSP.value)">
                    <label class="addproduct-form_label"> <span class="addproduct-form_label_content">ID</span><input type="text" ngModel="{{formvalue}}" class="addproduct-form_label_input" name="id" autocomplete="off" placeholder="Id"> </label>
                    <label class="addproduct-form_label"> <span class="addproduct-form_label_content" >IMG</span><input type="text" ngModel="{{formvalue}}" class="addproduct-form_label_input" name="img" autocomplete="off" placeholder="Image"  ></label>
                    <label class="addproduct-form_label"><span class="addproduct-form_label_content">NAME</span><input type="text" ngModel="{{formvalue}}" class="addproduct-form_label_input" name="name" autocomplete="off" placeholder="Name"></label>
                    <label class="addproduct-form_label"><span class="addproduct-form_label_content">DESCRIPTION</span><input type="text" ngModel="{{formvalue}}" class="addproduct-form_label_input" name="des" autocomplete="off" placeholder="Description"></label>
                    <label class="addproduct-form_label"><span class="addproduct-form_label_content">PRICE</span><input type="text" ngModel="{{formvalue}}" class="addproduct-form_label_input" name="price" autocomplete="off" placeholder="Price"></label>
                    <label class="addproduct-form_label"><span class="addproduct-form_label_content">QUANTITY</span><input type="text" ngModel="{{formvalue}}" class="addproduct-form_label_input" name="quantyti" autocomplete="off" placeholder="Quantity" ></label>
                    <button class="body-button_main-addproduct" > Add Product </button>
                </form>
            </div>
        </div>
    </div>    
</div>
