.addproduct
{
  width:100%;
  height: auto;
  position: relative;
  display: flex;
  box-shadow: 1px 1px 2px 1px white;
}
.addproduct-header
{
  width:87%;
  height: 50px;
  margin-left: 13%;
  position: fixed;
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 2px 1px white;
}
.addproduct-header_search
{
  position: absolute;
  left: 42%;
  top:19%;
  height: 30px;
  width:18.5%;
  border-radius: 100px;
  border: 1.5px solid rgb(11, 35, 71);
  font-size: 18px;
}
.addproduct-header_search:focus
{
  outline: 1px solid rgb(22, 22, 22);
  box-shadow: 0px 0px 5px 2px rgb(230, 227, 227);
}
.addproduct-header_search_iconsearch
{
  top:19%;
  position: absolute;
  left: 61%;
  font-size: 150%;
  font-weight: 600;
  color:rgb(11, 35, 71);
  border: none;
  background-color:transparent;
}
.addproduct-header_function
{
  margin-left: 2%;
  margin-top: 0.5%;
  font-size: 22px;
  font-weight: 600;
}
.addproduct-header_siderbar
{
 margin-left: 1.5%;
 width:50%
}
.addproduct-header_siderbar_main
{
  color:rgb(80, 80, 80);
  font-size: 18px;
  margin-right: 5%;
  margin-top: 1.3%;
  display: inline-block;
  cursor: pointer;
}
.addproduct-header_siderbar_main:hover
{
  color:#c57d31;
}
.main
{
  color:#c57d31
}
.main:hover
{
  color: rgb(80, 80, 80);
}
.addproduct-header_img_admin
{
  width:3.5%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 85%;
  border: 2px solid rgb(11, 67, 104);
}
.addproduct-header_img_admin_line
{
  position: absolute;
  left: 89%;
  top:8%;
  width: 1px;
  height: 90%;
  background-color:rgb(58, 57, 57);
}
.addproduct-header_name_admin
{
  position: absolute;
  left: 90%;
  top:28%;
  font-weight: 600;
  font-size: 95%;
  color:rgb(58, 57, 57);
}
.addproduct-siderbar
{
  width: 13%;
  background-color: rgb(11, 35, 71);
  position: fixed;
  top:0px;
  bottom: 0px;
  box-shadow: 1px 1px 2px 1px black;
}
.siderbar-funtion_main
{
  color:white;
  font-size: 18px;
  font-weight:600;
  text-align: center;
  margin-top: 20px;
}
.siderbar-funtion_main-line
{
  background-color: white;
  width:85%;
  margin-left: 7.5%;
  height: 1px;
}
.siderbar-function_siderbar
{
  padding: 20px;
}
.siderbar-function_main
{
  color:white;
  font-size: 16px;
  font-weight:600;
  list-style: none;
  margin-bottom: 40px;
  cursor: pointer;
}
.addproduct-body_content
{
  margin-top: 6%;
  width:80%;
  margin-left: 17%;
}
.addproduct-body_content_header
{
 width: 96%;
 margin-left: 2%;
 margin-top: 3%;
 height: 50px;
 line-height: 50px;
 background-color: white;
 border-radius: 4px;
 display: flex;
 justify-content: space-around;
}
.body_content_header_main
{
  font-weight: 600;
  width: 15%;
  margin-left: 3%;
  font-size: 90%;
}
.addproduct-body_main
{
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  cursor:pointer;
  transition:transform;
  box-shadow: 0px 0px 5px 3px rgb(217, 232, 240);
}
.addproduct-body_main:hover
{
  transform:scale(1.05);
  box-shadow: 0px 0px 5px 3px rgb(72, 139, 179);
}
.addproduct-body_main_img
{
  width:50%;
  height: 95%;
  border-radius: 50%;
  margin-left: -10%;
}
.addproduct-body
{
  width:100%;
  height: auto;
  padding-bottom: 10%;
  min-height: 1000px;
  background-color: rgb(228, 236, 240);
}
.addproduct-body_button
{
  margin-top: 2%;
  margin-left: 42%;
}
.body-button_main
{
  width: 25%;
  height: 50px;
  font-size: 90%;
  font-weight: 600;
  border:  1px solid white;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgb(196, 194, 194);
}
.body-button_main:hover{
  box-shadow: 1px 1px 10px 1px rgb(11, 35, 71);
}
.addproduct-body_background
{
  position: fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right: 0px;
  background-color: black;
  opacity: 0.85;
  display: none;
}
.addproduct-body_addform
{
  background-color: white;
  width:40%;
  height: 60%;
  position: fixed;
  z-index: 2;
  top:18%;
  left:33%;
  display: none;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 5px rgb(174, 179, 182);
  padding-bottom: 25%;
}
.add
{
  display: block;
}
.addproduct-form
{
  display:grid;
}
.addproduct-form_label_input
{
  margin-top: 6%;
  width:60%;
  height: 30px;
  margin-left: 5%;
  border: 1px solid rgb(196, 194, 194);
}
.addproduct-form_label
{
  margin-left: 15%;
}
.addproduct-form_label_content
{
  display: inline-block;
  width:20%;
  font-size: 90%;
  font-weight: 600;
}
.body-button_main-addproduct
{
  width: 20%;
  height: 45px;
  font-size: 90%;
  font-weight: 600;
  border:  1px solid white;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgb(196, 194, 194);
  margin-left: 44%;
  margin-top: 6%;
}
.body-button_main-addproduct:hover
{
  box-shadow: 1px 1px 10px 1px rgb(11, 35, 71);
}
.id
{
  width:4%;
}
.img
{
  width:10%;
}
.name
{
  width:30%;
}
.des
{
  width:30%;
}
.price
{
  width:13%;
}
.quantyti
{
  width:13%;
}
.fa-plus
{
  font-size: 110%;
  margin-left: 2%;
}
