@keyframes addblackground
{
    from
    {
        top:50%;
        bottom:50%;
        left:50%;
        right:50%;
        background-color: rgb(72, 139, 179);
    }
    to 
    {
        top:0%;
        bottom:0%;
        right:0%;
        left:0%;
        background-color: black;
    }
}

@keyframes addinformation
{
    from
    {
        top:50%;
        bottom:50%;
        left:50%;
        right:50%;
    }
    to 
    {
        top:15%;
        bottom: 12%;
        left: 35%;
        right:29%;
    }
}

.manageproduct
{
    width:100%;
    height: auto;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 2px 1px white;
}
.manageproduct-header
{
    width:87%;
    height: 50px;
    margin-left: 13%;
    position: fixed;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 2px 1px white;
}
.manageproduct-header_search
{
    position: absolute;
    left: 42%;
    top:19%;
    height: 30px;
    width:18.5%;
    border-radius: 100px;
    border: 1.5px solid rgb(11, 35, 71);
    font-size: 18px;
}
.manageproduct-header_search:focus
{
    outline: 1px solid rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 2px rgb(230, 227, 227);
}
.manageproduct-header_search_icon
{
    top:19%;
    position: absolute;
    left: 61%;
    font-size: 150%;
    font-weight: 600;
    color:rgb(11, 35, 71);
    border: none;
    background-color:transparent;
}
.manageproduct-header_function
{
  margin-left: 2%;
  margin-top: 0.5%;
  font-size: 22px;
  font-weight: 600;
}
.manageproduct-header_siderbar
{
 margin-left: 1.5%;
 width:50%
}
.manageproduct-header_siderbar_main
{
  color:rgb(80, 80, 80);
  font-size: 18px;
  margin-right: 5%;
  margin-top: 1.3%;
  display: inline-block;
  cursor: pointer;
}
.manageproduct-header_siderbar_main:hover
{
  color:#c57d31;
}
.main
{
  color:#c57d31
}
.main:hover
{
  color: rgb(80, 80, 80);
}
.manageproduct-header_admin_img
{
    width:3.5%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    border: 2px solid rgb(11, 67, 104);
}
.manageproduct-header_admin_line
{
    position: absolute;
    left: 89%;
    top:8%;
    width: 1px;
    height: 90%;
    background-color:rgb(58, 57, 57);
}
.manageproduct-header_admin_name
{
    position: absolute;
    left: 90%;
    top:28%;
    font-weight: 600;
    font-size: 95%;
    color:rgb(58, 57, 57);
}
.manageproduct_siderbar
{
    width: 13%;
    background-color: rgb(11, 35, 71);
    position: fixed;
    top:0px;
    bottom: 0px;
    box-shadow: 1px 1px 2px 1px black;
}
.siderbar-funtion_main
{
    color:white;
    font-size: 18px;
    font-weight:600;
    text-align: center;
    margin-top: 20px;
}
.siderbar-funtion_line
{
    background-color: white;
    width:85%;
    margin-left: 7.5%;
    height: 1px;
}
.siderbar-function_siderbar
{
    padding: 20px;
}
.siderbar-function_main
{
    color:white;
    font-size: 16px;
    font-weight:600;
    list-style: none;
    margin-bottom: 40px;
    cursor: pointer;
}
.manageproduct_body
{
    width:100%;
    height: auto;
    min-height: 1000px;
    padding-bottom: 10%;
    background-color: rgb(228, 236, 240);
}
.manageproduct-body_content
{
    width:80%;
    margin-left: 17%;
    margin-top: 6%;
}
.manageproduct-body_content_header
{
    width: 96%;
    margin-left: 2%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}
.content-header_main
{
    font-weight: 600;
    width: 15%;
    margin-left: 3%;
    font-size: 90%;
}
.manageproduct-body_content-body
{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    cursor:pointer;
    transition:transform;
    box-shadow: 0px 0px 5px 3px rgb(217, 232, 240);
}
.manageproduct-body_content-body:hover
{
    transform:scale(1.05);
    box-shadow: 0px 0px 5px 3px rgb(72, 139, 179);
}
.manageproduct-content-body_img
{
    width:50%;
    height: 95%;
    border-radius: 50%;
    margin-left: -10%;
}
.id
{
    width:4%;
}
.img
{
    width:10%;
}
.name
{
    width:27%;
}
.des
{
    width:27%;
}
.price
{
    width:12%;
}
.quantity
{
    width:12%;
}
.action
{
    width:8%;
    cursor: pointer;
}
.fa-pen
{
    font-size: 120%;
    margin-right: 1%;
    transition: transform .2s;
}
.fa-pen:hover
{ 
    color: rgb(11, 35, 71);
    transform: scale(2);
}
.fa-trash
{
    font-size: 120%;
    transition: transform .2s;
    margin-left: 2%;
}
.fa-trash:hover
{ 
    color: rgb(11, 35, 71);
    transform: scale(2);
}
.manageproduct-body_statistical
{
    margin-top: 2%;
    margin-left: 25%;
}
.manageproduct-body_chart
{
    background-color: rgb(201, 229, 243);
    border: none;
    width:19%;
    height: 40px;
    margin-left: 5%;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 3px rgb(174, 217, 238);
    font-size: 95%;
}
.manageproduct-body_chart:hover{
    background-color: rgb(21, 150, 214);  
    box-shadow: 0px 0px 5px 3px rgb(18, 92, 129);
    color:white;
    font-weight: 600;
}
.manageproduct-body_chart_img
{
    width:10%;
    height: 50%;
    margin-left: -5%;
    margin-top: -0.5%;
}
.manageproduct-body_detail_product
{
    position: fixed;
    top:15%;
    bottom: 12%;
    left: 35%;
    right:29%;
    background-color: white;
    opacity: 1;
    z-index: 2;
    display: none;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 5px rgb(236, 247, 253);
}
.manageproduct-body_detail_img
{
   width:90%;
   height: 50%; 
   margin-left: 6%;
   margin-top: 10%;
   box-shadow:  0px 0px 5px 3px rgb(230, 228, 228);
   border-radius: 16px;

}
.manageproduct-body_detail_content
{
    margin-top: 12%;
    color:rgb(11, 35, 71);
    font-size: 16px
}
.manageproduct-body_detail_content_header
{
    font-size: 26px;
    font-weight: 600;
    color:rgb(18, 92, 129);
}
.content_header_review
{
    color:rgb(107, 7, 7);
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    top:60%;
    left:10%
}
.content_header_review_content
{
    position: absolute;
    top:68%;
    left:10%;   
    width:75%;
    text-align: justify;

}
.content_header_review_content_main
{
    color:rgb(145, 53, 53);
    font-size: 16px;
}
.blackground
{
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    background-color: black;
    opacity: 0.8;
    display: none;
}
.chartground
{
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    background-color: black;
    opacity: 0.8;
    display: none;
}
.chart-content_price{
    background-color: white;
    margin: 35px auto;
    display: none;
    position: fixed;
    z-index: 2;
    top:6%;
    left:18%;
    width:70%;
    height: 80%;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 5px black;
}
.addwhiteground
{
    display: flex;
    animation: addinformation 0.5s;
    justify-content: space-around;
}
.addblackground
{
    display: block;
    animation: addblackground 0.5s;
}
.addchartground
{
    display: block;
}
.chart-table
{
    width: 35%;
    height: 50%;
    margin-left: 7%;
    margin-top: 15%;
}
.chart-table_value
{
    border: 1px solid #ccc;
    width:30%;
    padding-left: 10px;
}
.chart-table_name 
{
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.chart-table_title
{
    color:black;
    font-weight: 600;
    font-size: 20px;
    width:120%;
}
.chart-content
{
    margin-top: 8%;
    margin-left: 5%;
}
.chart-content_quantity
{
    background-color: white;
    margin: 35px auto;
    display: none;
    position: fixed;
    z-index: 2;
    top:6%;
    left:18%;
    width:70%;
    height: 80%;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 5px black;
}
.chart-content_sold
{
    background-color: white;
    margin: 35px auto;
    display: none;
    position: fixed;
    z-index: 2;
    top:6%;
    left:18%;
    width:70%;
    height: 80%;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 5px black;
}
.addchart
  {
    display: flex;
  }