
.manageproduct_header
{
width:87%;
height: 50px;
margin-left: 13%;
position: relative;
display: flex;
box-shadow: 1px 1px 2px 1px white;
}
.manageproduct_search
{
position: absolute;
left: 37%;
top:5px;
height: 30px;
width:300px;
border-radius: 200px;
border: 1px solid rgb(109, 108, 108);
font-size: 18px;
}
.manageproduct_search:focus
{
outline: 1px solid rgb(22, 22, 22);
box-shadow: 0px 0px 5px 2px rgb(230, 227, 227);
}
.search-icon
{
top:10px;
position: absolute;
left: 56%;
font-size: 26px;
color:rgb(58, 57, 57);
border: none;
background-color:white;
}
.search-note
{
top:10px;
position: absolute;
left: 78%;
font-size: 24px;
color:rgb(58, 57, 57);
}
.search-email
{
top:10px;
position: absolute;
left: 81%;
font-size: 24px;
color:rgb(58, 57, 57);
}
.admin-img
{
width:50px;
height: 50px;
border-radius: 50%;
position: absolute;
left: 85%;
border: 1px solid rgb(167, 167, 167);
}
.admin-space
{
position: absolute;
left: 89%;
width: 1px;
height: 50px;
background-color:rgb(58, 57, 57);
}
.admin-name
{
position: absolute;
left: 90%;
font-weight: 600;
font-size: 20px;
color:rgb(58, 57, 57);
}
.manageproduct_siderbar
{
width: 13%;
height: 960px;
background-color: rgb(11, 35, 71);
position: absolute;
top:10px;
box-shadow: 1px 1px 2px 1px black;
}
.siderbar-funtion_main
{
color:white;
font-size: 18px;
font-weight:600;
text-align: center;
margin: 10px;
}
.siderbar-funtion_line
{
background-color: white;
width:85%;
margin-left: 7.5%;
height: 1px;
}
.siderbar-function_siderbar
{
padding: 20px;
}
.siderbar-function_main
{
color:white;
font-size: 16px;
font-weight:600;
list-style: none;
margin-bottom: 40px;
cursor: pointer;
}
.manageproduct_body
{
width:87.1%;
height: 910px;
background-color: rgb(228, 236, 240);
margin-left: 13%;
}
.manageproduct-body_content
{
padding-top: 20px;
}
.manageproduct-body_content_header
{
width: 96%;
margin-left: 2%;
margin-top: 3%;
height: 50px;
line-height: 50px;
background-color: white;
border-radius: 4px;
display: flex;
justify-content: space-around;
}
.content-header_main
{
font-weight: 600;
width: 15%;
padding-left: 5%;
}
.manageproduct-body_content-body
{
width: 96%;
margin-left: 2%;
margin-top: 1%;
height: 50px;
line-height: 50px;
background-color: white;
border-radius: 4px;
display: flex;
justify-content: space-around;
}
.manageproduct-content-body_img
{
width:50px;
height: 50px;
border-radius: 50%;
margin-left: -15px;
}