<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<app-header></app-header>
<div>
    <div class="manageproduct_header">
        <form #frsearch="ngForm" (ngSubmit)="search(frsearch.value)">
            <input type="text" class="manageproduct_search" autocomplete="off" ngModel name="search" (keyup)="change($event)">
            <button  class="material-symbols-outlined search-icon">search</button>
        </form>
        <span class="material-symbols-outlined search-note">
        notifications
        </span>
        <span class="material-symbols-outlined search-email">
        mark_email_unread
        </span>
        <img src="../../assets/Images/admin.jpg" alt="" class="admin-img">
        <p class="admin-space"> </p>
        <p class="admin-name"> Anh N Tuyet</p>
    </div>
    <div class="manageproduct_siderbar">
        <p class="siderbar-funtion_main"> QUẢN LÝ SẢN PHẨM</p>
        <p class="siderbar-funtion_line"> </p>
        <ul class="siderbar-function_siderbar">
            <li class="siderbar-function_main" routerLink='/addproduct'> Thêm sản phẩm</li>
            <li class="siderbar-function_main" routerLink='/editproduct'> Sửa sản phẩm</li>
            <li class="siderbar-function_main" routerLink='/deleteproduct'> Xóa sản phẩm</li>
            <li class="siderbar-function_main" routerLink='/managestaff'> Quản lý nhân viên</li>
        </ul>
    </div>
    <div class="manageproduct_body">
        <div class="manageproduct-body_content">
            <div class="manageproduct-body_content_header">
                <p class="content-header_main"> ID</p>
                <p class="content-header_main"> IMG</p>
                <p class="content-header_main"> NAME</p>
                <p class="content-header_main"> DESCRIPTION</p>
                <p class="content-header_main"> PRICE</p>
                <p class="content-header_main"> QUANTITY </p>
                <p class="content-header_main"> ACTION </p>
            </div>
            <div *ngFor="let sp of sanpham; let i=index" class="manageproduct-body_content-body">
                <p class="content-header_main"> {{sp.id}}</p>
                <p class="content-header_main"> <img src="{{sp.hinh}}" alt="" class="manageproduct-content-body_img"></p>
                <p class="content-header_main"> {{sp.tensp}}</p>
                <p class="content-header_main"> {{sp.mota}}</p>
                <p class="content-header_main"> {{sp.giasp}}</p>
                <p class="content-header_main"> {{sp.soluong}}</p>
                <p class="content-header_main"> SỬA/XÓA </p>
            </div>
        </div>
    </div>
</div>
