<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="managestaff">
    <div class="managestaff-header">
        <form #frsearch="ngForm" (ngSubmit)="search(frsearch.value)">
            <input type="text" class="managestaff-header_search" autocomplete="off" ngModel name="search" (keyup)="change($event)">
            <button  class="material-symbols-outlined managestaff-header_search_icon">search</button>
        </form>
        <span class="material-symbols-outlined managestaff-header_search_note">
            notifications
        </span>
        <span class="material-symbols-outlined managestaff-header_search_email">
            mark_email_unread
        </span>
        <img src="../../assets/Images/admin.jpg" alt="" class="managestaff-header_admin_img">
        <p class="managestaff-header_admin_line"> </p>
        <p class="managestaff-header_admin_name"> Anh N Tuyet</p>
    </div>
    <div class="managestaff_siderbar"> 
        <p class="siderbar-funtion_main">MANAGE STAFF</p>
        <p class="siderbar-funtion_line"> </p>
        <ul class="siderbar-function_siderbar">
            <li class="siderbar-function_main" routerLink='/manageproduct'> Manage Product</li>
            <li class="siderbar-function_main" routerLink='/addproduct'> Add Product</li>
            <li class="siderbar-function_main" routerLink='/editproduct'> Edir Product</li>
            <li class="siderbar-function_main" routerLink='/deleteproduct'> Detele Product</li>
        </ul>
    </div>
    <div class="managestaff_body">
        <div class="managestaff-body_content">
            <div class="managestaff-body_content-main" *ngFor="let staff of staffs let i=index">
                <img src="{{staff.img}}" alt="" class="managestaff-body_staffimg">
                <p class="managestaff-body_staffname"> {{staff.name}}</p>
                <p class="managestaff-body_staffnametag"></p>
                <p class="managestaff-body_staffcode">{{staff.code}}</p>
                <p class="managestaff-body_staffnamecodetag"></p>
                <i class="fa-solid fa-pen" (click)="edit(staffs[i].id,staffs[i].code,staffs[i].img,staffs[i].name,staffs[i].phone,staffs[i].address,staffs[i].position)" ></i> 
                <i class="fa-solid fa-trash" (click)="delete(staff.name,staff.id)"></i> 
            </div>
        </div>
        <div class="addstaff-body_button">
            <button class="body-button_main" (click)="add()"> Add Staff <i class="fa-solid fa-plus"></i> </button>
        </div>
        <div class="add_content" (click)="remove()">
        </div>
        <div class="addform">
            <form  #frmSP="ngForm" class="addstaff-form" (ngSubmit)="addstaff(frmSP.value)"  >
                <label class="addstaff-form_label"> <span class="addstaff-form_label_content">ID</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="id" autocomplete="off"> </label>
                <label class="addstaff-form_label"> <span class="addstaff-form_label_content" >CODE</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="code" autocomplete="off"  ></label>
                <label class="addstaff-form_label"><span class="addstaff-form_label_content">IMG</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="img" autocomplete="off" ></label>
                <label class="addstaff-form_label"><span class="addstaff-form_label_content">NAME</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="name" autocomplete="off" ></label>
                <label class="addstaff-form_label"><span class="addstaff-form_label_content">PHONE</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="phone" autocomplete="off" ></label>
                <label class="addstaff-form_label"><span class="addstaff-form_label_content">ADDRESS</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="address" autocomplete="off" ></label>
                <label class="addstaff-form_label"><span class="addstaff-form_label_content">POSITION</span><input type="text" ngModel="{{formvalue}}" class="addstaff-form_label_input" name="position" autocomplete="off" ></label>
                <button class="body-button_main-addstaff" > Add Staff </button>
            </form>
        </div>
    </div>
    <div class="add_content" (click)="remove()">
    </div>
   <div class="addform">
       <form  #frmSP="ngForm" class="editstaff-form" (ngSubmit)="editstaff(frmSP.value)">
            <label class="editstaff-body_label"> <span class="editstaff-body_label_content">ID</span><input type="text" ngModel="{{id}}" readonly class="editstaff-form_label_input" name="id" autocomplete="off"> </label>
            <label class="editstaff-body_label"><span class="editstaff-body_label_content">CODE</span><input type="text" ngModel="{{code}}" readonly class="editstaff-form_label_input" name="code" autocomplete="off" ></label>
            <label class="editstaff-body_label"> <span class="editstaff-body_label_content" >IMG</span><input type="text" ngModel="{{img}}" class="editstaff-form_label_input" name="img" autocomplete="off"  ></label>
            <label class="editstaff-body_label"><span class="editstaff-body_label_content">NAME</span><input type="text" ngModel="{{name}}" class="editstaff-form_label_input" name="name" autocomplete="off" ></label>
            <label class="editstaff-body_label"><span class="editstaff-body_label_content">PHONE</span><input type="text" ngModel="{{phone}}" class="editstaff-form_label_input" name="phone" autocomplete="off" ></label>
            <label class="editstaff-body_label"><span class="editstaff-body_label_content">ADDRESS</span><input type="text" ngModel="{{address}}" class="editstaff-form_label_input" name="address" autocomplete="off" ></label>
            <label class="editstaff-body_label"><span class="editstaff-body_label_content">POSITION</span><input type="text" ngModel="{{position}}" class="editstaff-form_label_input" name="position" autocomplete="off" ></label>
            <button class="body-button_main-addstaff" > Edit Staff </button>
       </form>
    </div>
</div>