
.header
{
    width:87%;
    height: 50px;
    margin-left: 13%;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 2px 1px white;
}
.siderbar
{
 width: 13%;
 height: 960px;
 background-color: rgb(11, 35, 71);
 position: absolute;
 top:8px;
 box-shadow: 1px 1px 2px 1px black;
}
.siderbar-funtion_main
{
color:white;
font-size: 18px;
font-weight:600;
text-align: center;
}
.duongthen
{
    background-color: white;
    width:85%;
    margin-left: 7.5%;
    height: 1px;
}
.siderbar-function_siderbar
{
   padding: 20px;
}
.siderbar-function_main
{
    color:white;
    font-size: 16px;
    font-weight:600;
    list-style: none;
    margin-bottom: 40px;
}
.body
{
    width:87.1%;
    height: 910px;
    background-color: rgb(228, 236, 240);
    margin-left: 13%;
}
.search
{
    position: absolute;
    left: 37%;
    top:10px;
    height: 20px;
    width:300px;
    border-radius: 200px;
    border: 1px solid rgb(109, 108, 108);
    font-size: 18px;
}
.timkiem
{
top:10px;
position: absolute;
left: 57%;
font-size: 24px;
color:rgb(58, 57, 57);
}
.thongbao
{
top:10px;
position: absolute;
left: 78%;
font-size: 24px;
color:rgb(58, 57, 57);
}
.tinnhan
{
    top:10px;
    position: absolute;
    left: 81%;
    font-size: 24px;
    color:rgb(58, 57, 57);
}
.anhadmin
{
    width:50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    margin-top: -5px;
    border: 1px solid rgb(167, 167, 167);

}
.cach
{
    position: absolute;
    left: 89%;
    width: 1px;
    height: 50px;
    background-color:rgb(58, 57, 57);
    top:-20px;
}
.tenadmin
{
    position: absolute;
    left: 90%;
    font-weight: 600;
    font-size: 20px;
    top:-10px;
    color:rgb(58, 57, 57);
}
.content
{
 padding-top: 20px;
}
.content-header
{
 width: 96%;
 margin-left: 2%;
 margin-top: 3%;
 height: 50px;
 background-color: white;
 border-radius: 4px;
 display: flex;
 justify-content: space-around;
}
.content-header_main
{
 font-weight: 600;
 width: 15%;
 padding-left: 5%;
}
.content-body
{
 width: 96%;
 margin-left: 2%;
 margin-top: 1%;
 height: 50px;
 background-color: white;
 border-radius: 4px;
 display: flex;
 justify-content: space-around;
}
.content-body_img
{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: -15px;
}
.add
{
    margin-top: 2%;
    margin-left: 42%;
}
.add_button
{
    width: 15%;
    height: 45px;
    font-style: 16px;
    font-weight: 600;
    border:  1px solid white;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgb(196, 194, 194);
}
.add_button:hover{
    box-shadow: 1px 1px 10px 1px rgb(11, 35, 71);
}
.add_content
{
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right: 0px;
    background-color: black;
    opacity: 0.8;
    display: none;
}
.form
{
    background-color: white;
    width:50%;
    height: 50%;
    position: fixed;
    z-index: 2;
    top:25%;
    left:25%;
    display: none;
}
.them
{
    display: block;
}
.nhapdulieu
{
    display:grid;
}
.thien3
{
    margin-top: 30px;
    width:60%;
    height: 30px;
    margin-left: 5%;
    border: 1px solid rgb(196, 194, 194);
}
.thien33
{
    border: none;
}
.label
{
    margin-left: 15%;
}
.label1
{
    display: inline-block;
    width:120px;
    font-size: 16px;
    font-weight: 600;
}
.add_sanpham
{
    width: 15%;
    height: 45px;
    font-style: 16px;
    font-weight: 600;
    border:  1px solid white;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgb(196, 194, 194);
    margin-left: 45%;
    margin-top: 2%;
}
.add_sanpham:hover
{
    box-shadow: 1px 1px 10px 1px rgb(11, 35, 71);
}