<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div>
    <div class="editproduct_header">
        <form #frsearch="ngForm" (ngSubmit)="search(frsearch.value)">
            <input type="text" class="editproduct_search" autocomplete="off" ngModel name="search" (keyup)="change($event)">
            <button  class="material-symbols-outlined search-icon">search</button>
        </form>
        <span class="material-symbols-outlined search-note">
        notifications
        </span>
        <span class="material-symbols-outlined search-email">
        mark_email_unread
        </span>
        <img src="../../assets/Images/admin.jpg" alt="" class="admin-img">
        <p class="admin-space"> </p>
        <p class="admin-name"> Anh N Tuyet</p>
    </div>
    <div class="editproduct_siderbar"> 
        <p class="siderbar-funtion_main"> SỬA SẢN PHẨM</p>
        <p class="siderbar-funtion_line"> </p>
        <ul class="siderbar-function_siderbar">
            <li class="siderbar-function_main"  routerLink='/manageproduct'> Quản lý sản phẩm</li>
            <li class="siderbar-function_main"  routerLink='/addproduct'> Thêm sản phẩm</li>
            <li class="siderbar-function_main"  routerLink='/deleteproduct'> Xóa sản phẩm</li>
            <li class="siderbar-function_main"  routerLink='/managestaff'> Quản lý nhân viên</li>
        </ul>
    </div>
    <div class="editproduct_body">
        <div class="editproduct-body_content">
            <div class="editproduct-body_content_header"> 
                <p class="content-header_main"> ID</p>
                <p class="content-header_main"> IMG</p>
                <p class="content-header_main"> NAME</p>
                <p class="content-header_main"> DESCRIPTION</p>
                <p class="content-header_main"> PRICE</p>
                <p class="content-header_main"> QUANTITY </p>
                <p class="content-header_main"> ACTION </p>
            </div>
            <div *ngFor="let sp of sanpham; let i=index" class="editproduct_body-content-body">
                <p class="content-header_main"> {{sanpham[i].id}}</p>
                <p class="content-header_main"> <img src="{{sanpham[i].hinh}}" alt="" class="editproduct_body-content_img"></p>
                <p class="content-header_main"> {{sanpham[i].tensp}}</p>
                <p class="content-header_main"> {{sanpham[i].mota}}</p>
                <p class="content-header_main"> {{sanpham[i].giasp}}</p>
                <p class="content-header_main"> {{sanpham[i].soluong}}</p>
                <p class="content-header_main" (click)="editproduct(sanpham[i].id,sanpham[i].hinh,sanpham[i].tensp,sanpham[i].mota,sanpham[i].giasp,sanpham[i].soluong)"> SỬA</p>
            </div>
        </div>
        <div class="editproduct-body_editproduct">
        </div>
        <div class="{{add}}" (click)="remove()">
        </div>
       <div class={{addform}}>
           <form  #frmSP="ngForm" class="editproduct-form" (ngSubmit)="suasanpham(frmSP.value)">
                <label class="editproduct-body_label"> <span class="editproduct-body_label_content">ID</span><input type="text" ngModel="{{id}}" readonly class="editproduct-form_label_input" name="id" autocomplete="off"> </label>
                <label class="editproduct-body_label"> <span class="editproduct-body_label_content" >IMG</span><input type="text" ngModel="{{hinh}}" class="editproduct-form_label_input" name="hinh" autocomplete="off"  ></label>
                <label class="editproduct-body_label"><span class="editproduct-body_label_content">NAME</span><input type="text" ngModel="{{tensp}}" class="editproduct-form_label_input" name="tensp" autocomplete="off" ></label>
                <label class="editproduct-body_label"><span class="editproduct-body_label_content">DESCRIPTION</span><input type="text" ngModel="{{mota}}" class="editproduct-form_label_input" name="mota" autocomplete="off" ></label>
                <label class="editproduct-body_label"><span class="editproduct-body_label_content">PRICE</span><input type="text" ngModel="{{giasp}}" class="editproduct-form_label_input" name="giasp" autocomplete="off" ></label>
                <label class="editproduct-body_label"><span class="editproduct-body_label_content">QUANTITY</span><input type="text" ngModel="{{soluong}}" class="editproduct-form_label_input" name="soluong" autocomplete="off" ></label>
                <button class="body-button_main-addproduct" > Sửa Sản Phẩm </button>
           </form>
        </div>
    </div>
</div>