<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div>
<div class="header">
    <input type="text" class="search">
    <span class="material-symbols-outlined timkiem">
        search
        </span>
    <span class="material-symbols-outlined thongbao">
        notifications
        </span>
        <span class="material-symbols-outlined tinnhan">
            mark_email_unread
            </span>
            <img src="../assets/img/admin.jpg" alt="" class="anhadmin">
            <p class="cach"> </p>
            <p class="tenadmin"> Anh N Tuyet</p>
</div>
<div class="siderbar"> 
 <p class="siderbar-funtion_main"> QUẢN LÝ SẢN PHẨM</p>
 <p class="duongthen"> </p>
 <ul class="siderbar-function_siderbar">
    <li class="siderbar-function_main"> Thêm sản phẩm</li>
    <li class="siderbar-function_main"> Sửa sản phẩm</li>
    <li class="siderbar-function_main"> Xóa sản phẩm</li>
    <li class="siderbar-function_main"> Quản lý nhân viên</li>
 </ul>
</div>
<div class="body">
    <div class=" content">
    <div class="content-header"> 
     <p class="content-header_main"> ID</p>
     <p class="content-header_main"> IMG</p>
     <p class="content-header_main"> NAME</p>
     <p class="content-header_main"> DESCRIPTION</p>
     <p class="content-header_main"> PRICE</p>
     <p class="content-header_main"> QUANTITY </p>
     <p class="content-header_main"> ACTION </p>
    </div>
    <div *ngFor="let sp of sanpham; let i=index" class="content-body">
        <p class="content-header_main"> {{sanpham[i].id}}</p>
        <p class="content-header_main"> <img src="{{sanpham[i].hinh}}" alt="" class="content-body_img"></p>
        <p class="content-header_main"> {{sanpham[i].tensp}}</p>
        <p class="content-header_main"> {{sanpham[i].mota}}</p>
        <p class="content-header_main"> {{sanpham[i].giasp}}</p>
        <p class="content-header_main"> {{sanpham[i].soluong}}</p>
        <p class="content-header_main" (click)="thien(sanpham[i].id,sanpham[i].hinh,sanpham[i].tensp,sanpham[i].mota,sanpham[i].giasp,sanpham[i].soluong)"> SỬA</p>
    </div>

    </div>
    <div class="add">
       </div>
       <div class="{{them}}" (click)="an()">
       </div>
       <div class={{them1}}>
           <form  #frmSP="ngForm" class="nhapdulieu" (ngSubmit)="suasanpham(frmSP.value)">
           <label class="label"> <span class="label1">ID</span><input type="text" ngModel="{{id}}" readonly class="thien3" name="id" autocomplete="off"> </label>
           <label class="label"> <span class="label1" >IMG</span><input type="text" ngModel="{{hinh}}" class="thien3" name="hinh" autocomplete="off"  ></label>
           <label class="label"><span class="label1">NAME</span><input type="text" ngModel="{{tensp}}" class="thien3" name="tensp" autocomplete="off" ></label>
           <label class="label"><span class="label1">DESCRIPTION</span><input type="text" ngModel="{{mota}}" class="thien3" name="mota" autocomplete="off" ></label>
           <label class="label"><span class="label1">PRICE</span><input type="text" ngModel="{{giasp}}" class="thien3" name="giasp" autocomplete="off" ></label>
           <label class="label"><span class="label1">QUANTITY</span><input type="text" ngModel="{{soluong}}" class="thien3" name="soluong" autocomplete="off" ></label>
           <button class="add_sanpham" > Sửa Sản Phẩm </button>
           </form>
           </div>
</div>
</div>