.editproduct
{
    width:100%;
    height: auto;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 2px 1px white;
}
.editproduct_header
{
    width:87%;
    height: 50px;
    margin-left: 13%;
    position: fixed;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 2px 1px white;
}
.editproduct-header_search
{
    position: absolute;
    left: 37%;
    top:19%;
    height: 30px;
    width:18.5%;
    border-radius: 100px;
    border: 1.5px solid rgb(11, 35, 71);
    font-size: 18px;
}
.editproduct-header_search:focus
{
    outline: 1px solid rgb(22, 22, 22);
    box-shadow: 0px 0px 5px 2px rgb(230, 227, 227);
}
.editproduct-header_search_icon
{
    top:19%;
    position: absolute;
    left: 55.5%;
    font-size: 150%;
    font-weight: 600;
    color:rgb(11, 35, 71);
    border: none;
    background-color:transparent;
}
.editproduct-header_search_note
{
    top:18px;
    position: absolute;
    left: 80.5%;
    font-size: 26px;
    font-weight: 600;
    color:rgb(107, 7, 7);
}
.editproduct-header_search_email
{
    top:18px;
    position: absolute;
    left: 82.5%;
    font-size: 26px;
    font-weight: 600;
    color:rgb(107, 7, 7);
}
.editproduct-header_admin_img
{
    width:3.5%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    border: 2px solid rgb(11, 67, 104);
}
.editproduct-header_admin_space
{
    position: absolute;
    left: 89%;
    top:8%;
    width: 1px;
    height: 90%;
    background-color:rgb(58, 57, 57);
}
.editproduct-header_admin_name
{
    position: absolute;
    left: 90%;
    top:28%;
    font-weight: 600;
    font-size: 95%;
    color:rgb(58, 57, 57);
}
.editproduct_siderbar
{
    width: 13%;
    background-color: rgb(11, 35, 71);
    position: fixed;
    top:0px;
    bottom: 0px;
    box-shadow: 1px 1px 2px 1px black;
}
.siderbar-funtion_main
{
    color:white;
    font-size: 18px;
    font-weight:600;
    text-align: center;
    margin-top: 20px;
}
.siderbar-funtion_line
{
    background-color: white;
    width:85%;
    margin-left: 7.5%;
    height: 1px;
}
.siderbar-function_siderbar
{
    padding: 20px;
}
.siderbar-function_main
{
    color:white;
    font-size: 16px;
    font-weight:600;
    list-style: none;
    margin-bottom: 40px;
    cursor: pointer;
}
.editproduct_body
{
    width:100%;
    height: auto;
    padding-bottom: 10%;
    min-height: 1000px;
    background-color: rgb(228, 236, 240);
}
.editproduct-body_content
{
    width:80%;
    margin-left: 17%;
    position: absolute;
    margin-top: 6%;
}
.editproduct-body_content_header
{
    width: 96%;
    margin-left: 2%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}
.content-header_main
{
    font-weight: 600;
    width: 15%;
    margin-left: 3%;
    font-size: 90%;
}
.editproduct_body-content-body
{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    cursor:pointer;
    transition:transform;
    box-shadow: 0px 0px 5px 3px rgb(217, 232, 240);
}
.editproduct_body-content-body:hover
{
    transform:scale(1.05);
    box-shadow: 0px 0px 5px 3px rgb(180, 214, 233);
}
.editproduct_body-content_img
{
    width:50%;
    height: 95%;
    border-radius: 50%;
    margin-left: -10%;
}
.editproduct-body_editproduct
{
    margin-top: 2%;
    margin-left: 42%;
}
.add_button
{
    width: 20%;
    height: 45px;
    font-style: 16px;
    font-weight: 600;
    border:  1px solid white;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgb(196, 194, 194);
}
.add_button:hover
{
    box-shadow: 1px 1px 10px 1px rgb(11, 35, 71);
}
.editproduct-body_background
{
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right: 0px;
    background-color: black;
    opacity: 0.85;
    display: none;
}
.editproduct-body_addform
{
    background-color: white;
    width:50%;
    height: 60%;
    position: fixed;
    z-index: 2;
    top:18%;
    left:30%;
    display: none;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 5px black;
    padding-bottom: 35%;
}
.add
{
    display: block;
}
.editproduct-form
{
    display:grid;
}
.editproduct-form_label_input
{
    margin-top: 6%;
    width:60%;
    height: 30px;
    margin-left: 5%;
    border: 1px solid rgb(196, 194, 194);
}
.editproduct-body_label
{
    margin-left: 15%;
}
.editproduct-body_label_content
{
    display: inline-block;
    width:20%;
    font-size: 90%;
    font-weight: 600;
}
.body-button_main-addproduct
{
    width: 20%;
    height: 45px;
    font-size: 90%;
    font-weight: 600;
    border:  1px solid white;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgb(196, 194, 194);
    margin-left: 45%;
    margin-top: 6%;
}
.body-button_main-addproduct:hover
{
    box-shadow: 1px 1px 10px 1px rgb(11, 35, 71);
}
.id
{
    width:4%;
}
.img
{
    width:10%;
}
.name
{
    width:27%;
}
.des
{
    width:27%;
}
.price
{
    width:12%;
}
.quantity
{
    width:12%;
}
.action
{
    cursor: pointer;
}
.fa-pen
{
    font-size: 120%;
    margin-right: 15%;
    margin-left: 10%;
    transition: transform .2s;
}
.fa-pen:hover
{ 
    color: rgb(11, 35, 71);
    transform: scale(2);
}